name: Export Intune Policy from DEV

on:
  workflow_dispatch:

jobs:
  export:
    runs-on: windows-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Run export-policy.ps1
      run: |
        pwsh ./export-policy.ps1
      env:
        CLIENT_ID: ${{ secrets.CLIENT_ID }}
        CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        TENANT_ID: ${{ secrets.TENANT_ID }}

      
    - name: Push dev-policy.json to repo
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git remote set-url origin https://x-access-token:${{ secrets.GH_PAT }}@github.com/${{ github.repository }}
        git add dev-policy.json
        git commit -m "Exported policy from DEV"
        git push
   
